<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form th:action="@{/api/v2/review/save}" th:object="${newReviewDto}" method="post">
    <p>이곳에서의 경험은 어떠셨나요?</p>
    <input type="text" th:field="*{overall}"/>

    <p>생생한 평가를 해주세요</p>
    <p>서비스 & 친절도 </p>
    <input type="text" th:field="*{service}"/>
    <p>숙소 & 객실 청결도</p>
    <input type="text" th:field="*{cleanliness}"/>
    <p>시설 & 편의성</p>
    <input type="text" th:field="*{convenience}"/>
    <p>비품 & 용품 만족도</p>
    <input type="text" th:field="*{satisfaction}"/>

    <p></p>
    <input type="text" placeholder="이 곳에서 머물렀던 기억을 자세히 말해줄 수 있나요?(5자 이상 작성해주세요.)" th:field="*{content}">
    <button type="submit" th:text="'작성하기. 예상 적립 포인트 ' + ${expectPoint}"></button>
  </form>
</body>
</html>